*.node filter=lfs diff=lfs merge=lfs -text
node_modules/@unrs/resolver-binding-linux-x64-gnu/resolver.linux-x64-gnu.node filter=lfs diff=lfs merge=lfs -text
node_modules/@unrs/resolver-binding-linux-x64-musl/resolver.linux-x64-musl.node filter=lfs diff=lfs merge=lfs -text
